.card.mx-auto.m-3.shadow.position-relative(style={'max-width': '540px'}, data-cardid=link.id)
  button.btn.btn-light.btn-sm.position-absolute.z-1(style={top: "5px", right: "45px"} onclick="PageApi.handleEditLink(this)" data-linkid=link.id)
    i.bi.bi-pencil
  button.btn.btn-light.btn-sm.position-absolute.z-1(type="submit" style={top: "5px", right: "5px"} onclick="PageApi.handleDeleteLink(this)" data-linkid=link.id)
    i.bi.bi-x
  .row 
    .col-md-4
      - const src = link && link.original || "https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=11e949fc5d06576bc8b80ec192896753"
      iframe.img-fluid.rounded-start(src=link.original, frameborder="0" style={height: "163px"})
    .col-md-8 
      .card-body.position-relative
        .card-title.d-flex.align-items-center
          h5.m-0= link.short
          button.btn.btn-light.ms-2(onclick="PageApi.handleCopyLink(this)" data-linkshort=link.short)
            i.bi.bi-clipboard &nbsp;Copy
        p.card-text= link.original 
        p.card-text 
          - createdAt = link.createdAt ? new Date(link.createdAt).toLocaleString() : ""
          small.text-body-secondary= createdAt